<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login - Index</title>    
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
  </head>
  <body>    
    <div class="left">
      <div class="logo">        
        <h1>Facebook</h1>
      </div>
      <div class="text">
        <h2>O Facebook ajuda você a se conectar e compartilhar com as pessoas que
        fazem parte da sua vida.</h2>
      </div> 
    </div>
    <div class="right">
      <div class="login">
        <input type="email"/>
        <input type="password"/>
        <button>Entrar</button>
      </div>
      <div><a href="home" target="_blank">Esqueceu a senha?</a></div>
      <div><button>Criar nova conta</button></div>
        <h4><a href="" target="_blank">Criar uma pagina</a> para uma celebridade, uma marca ou uma empresa.</h4>
    </div>
  </body>


</html>
