<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login - Index</title>    
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <script type="module" src="GoffiJS"></script>
  </head>
  <body>    
    <main>
      <div class="center">
        <section class="top">
          <p>Meta</p>
        </section>
        <g-teste/>
        <section class="bottom">
        </section>
      </div>
    </main>
  </body>


</html>
